// Change the theme
$theme-colors: (
        "primary": #0066b2,
        "secondary": #6E84A3,
        "success": #28A745,
        "danger": #DC3545,
        "warning": #FFC107,
        "info": #007DFF,
        "light": #F8F9FA,
        "dark": #12263F
);

// Change the buttons default characteristics

.btn.btn {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-origin: padding-box;
  border-radius: 5px;
  text-align: center;
  font: normal normal normal 16px/20px Poppins;
}

// Import Bootstrap and its default variables
@import '../../node_modules/bootstrap/scss/bootstrap';